### Pra-6). Write a Pandas program to implement following operation

#### to convert a NumPy array to a Pandas series

In [2]:
import numpy as np
import pandas as pd

arr = np.random.randint(1, 100, (3, 3))  # if More than 1D array
df = pd.DataFrame(arr)  # if More than 1D array
df

    0   1   2
0  90  16  96
1  26  26  95
2   7  85  13

#### to convert the first column of a DataFrame as a Series

In [57]:
first_column = df.iloc[:, 0]
first_row = df.iloc[0, :]
first_column, first_row

(0    16
 1    22
 2    30
 Name: 0, dtype: int32,
 0    16
 1    13
 2    90
 Name: 0, dtype: int32)

#### to create the mean and standard deviation of the data of a given Series

In [49]:
mean = first_column.mean()
std_dev = first_column.std()
mean, std_dev

(22.666666666666668, 7.023769168568492)

#### to sort a given Serie

In [62]:
sortc = first_column.sort_values()
sortr = first_row.sort_values()
sortc, sortr

(0    16
 1    22
 2    30
 Name: 0, dtype: int32,
 1    13
 0    16
 2    90
 Name: 0, dtype: int32)