### Pra-10). Write a Pandas program to implement following operation

#### to find and drop the missing values from the given dataset

In [2]:
# Name: Mihir V. Modhwadiya
# Enrollment: 216270307033

import pandas as pd

dff = pd.read_csv("./Pra-10_i.csv")

print(dff.isnull().sum())
dff = dff.dropna()

dff.head(5)

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

#### to remove the duplicates from the given dataset

In [3]:
# Name: Mihir V. Modhwadiya
# Enrollment: 216270307033

import pandas as pd

dff = dff.drop_duplicates()
dff.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0