### K-means

In [20]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans

In [21]:

ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")

cv = CountVectorizer(max_features=5000, stop_words="english")

vectors = cv.fit_transform(ds["tags"]).toarray()

similarity = cosine_similarity(vectors)

num_clusters = (similarity.shape[0]*10)//100
kmeans = KMeans(n_clusters=num_clusters, random_state=10)
cluster_labels = kmeans.fit_predict(similarity)

ds["cluster_label"] = cluster_labels

c:\Users\mihir\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [22]:
ds.to_csv("./perfect_datasets/perfect_datasets_v4_with_clusters.csv", index=False)

In [23]:
ds = pd.read_csv("./perfect_datasets/perfect_datasets_v4_with_clusters.csv")

In [24]:
ds[ds["title"].str.lower().str.startswith("the hobbit")]

,movie_id,title,tags,cluster_label
18,122917,The Hobbit: The Battle of the Five Armies,"immedi after the event of the desol of smaug, ...",167
21,57158,The Hobbit: The Desolation of Smaug,"the dwarves, bilbo and gandalf have success es...",167
96,49051,The Hobbit: An Unexpected Journey,"bilbo baggins, a hobbit enjoy hi quiet life, i...",167

In [25]:
ds[ds["cluster_label"]==167]

,movie_id,title,tags,cluster_label
18,122917,The Hobbit: The Battle of the Five Armies,"immedi after the event of the desol of smaug, ...",167
21,57158,The Hobbit: The Desolation of Smaug,"the dwarves, bilbo and gandalf have success es...",167
96,49051,The Hobbit: An Unexpected Journey,"bilbo baggins, a hobbit enjoy hi quiet life, i...",167
259,120,The Lord of the Rings: The Fellowship of the Ring,"young hobbit frodo baggins, after inherit a my...",167
576,44943,Battle: Los Angeles,the earth is attack by unknown forces. as peop...,167
1139,12279,Spy Kids 3-D: Game Over,carmen' caught in a virtual realiti game desig...,167
1862,18975,The Adventures of Pinocchio,one of puppet-mak geppetto' creation come magi...,167

In [27]:
# count the number of movies in each cluster
ds["cluster_label"].value_counts()

35     32
104    31
52     30
12     30
99     28
       ..
351     2
371     2
323     2
61      2
2       1
Name: cluster_label, Length: 450, dtype: int64