#### astype(): to convert from any data type to any data type

In [1]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7]).astype(float)

print(arr)

[1. 2. 3. 4. 5. 6. 7.]

In [3]:
import pandas as pd

In [13]:

dff = pd.read_csv("../Pra-10.csv")

dff2 = dff.loc[:,"city"]

dff3 = dff2.fillna(value="dff", inplace=True)

dff.head(6)

      name   age           city
0    Mihir  21.0       New York
1  Chintan  23.0       New York
2  Shubham   NaN  San Francisco
3   Soneir  22.0    Los Angeles
4    Hasan  25.0        Chicago
4    Hasan  25.0        Chicago

In [7]:
srss = pd.Series([1, 2, 3, 4, 5])
srss

0    1
1    2
2    3
3    4
4    5
dtype: int64